{% load i18n %}
{% load static %}

<!DOCTYPE html>
<!-- The base template is the frame for the entire site. The block tags can be filled in each other HTML template or be
left empty to skip the block. The translate tags indicate to Django to collect those strings with
django-admin makemessages in the python virtual environment. It can then be translated in a .po file. Use
django-admin compilemessages to apply those translatations. The doc give all the arguments that can be used -->
<html lang={% translate "en" %}>

<head>

    <meta charset="UTF-8">
    <meta name="keywords" content="{% block metakeywords %} {% endblock %}">
    <meta name="description" content="{% block description %} {% endblock %}">
    <meta name="author" content="Jean-Nicolas Côté">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'img/geoadaptation.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/geoadaptation.ico' %}" type="image/x-icon">

    <!-- Scripts and links to load for the entire site
     (Bootstrap 5.0.0, FontAwesome 5.15.3, Google Fonts ) -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">

    <!-- Custom CSS for styling the navbar and other core components of the site -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

<!-- Tag to allow the loading of other stylesheets on other templates. -->
{% block stylesheet %}
{% endblock %}

</head>

<!-- There are no block tags in the header, because the menu propagates the same way throughout all the templates -->
<header>

<noscript>
    <p>
        {% blocktranslate trimmed %}
            The navbar is optimized to work with JavaScript via Bootstrap. However, you can still navigate through
            the site with the hyperlinks provide in each section overview.
        {% endblocktranslate %}
    </p>
</noscript>

<nav class="navbar navbar-custom navbar-expand-sm justify-content-center">
    <a href="{% translate "Home" %}"
       id="logo"><span class="geo">{% translate "Geo" %}</span><span class="adaptation">adaptation</span></a>
    <!-- This bit controls the collapse of the navbar for mobile views. A custom icon is required, because the
        default one only works with navbar-light or dark in Bootstrap 5 -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span></button>
    <!-- Typical Bootstrap 5 settings, look at the doc for more info -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="nav nav-list">
            <li class="nav-item">
                <a href="{% translate "Home" %}"
                   class="nav-link">{% translate "Home" %}</a>
            </li>
            <li class="nav-item dropdown">
                <a href="{% translate "CCAP" %}"
                   class="nav-link" id="navbarDropdown" role="button" aria-expanded="false" >{% translate "CCAP" %}</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
            <li>
                <a href="{% translate "Magog_ccap" %}"
                   class="dropdown-item">{% translate "Magog's climate change adaptation plan (CCAP)" %}</a>
            </li>
        </ul>
            <li class="nav-item dropdown">
                <a href="{% translate "Research" %}"
                   class="nav-link" id="navbarDropdown" role="button"
                   aria-expanded="false">{% translate "Research" %}</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
            <li>
                <a href="{% translate "Magog_uhi" %}"
                   class="dropdown-item">{% translate "Urban heat islands monitoring at Espace Saint-Luc in Magog" %}</a>
            </li>
            <li>
                <a href="{% translate "Vulnerability_essay" %}"
                   class="dropdown-item">{% translate "Master's essay on heat waves vulnerability assesment" %}</a>
            </li>
            <li>
                <a href="{% translate "Proof_concept_COVID" %}"
                   class="dropdown-item">{% translate "PhD project with AI and GIS for public health" %}</a>
            </li>
        </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="{% translate "Tutorials"%}"
                   class="nav-link" id="navbarDropdown" role="button"
                   aria-expanded="false">{% translate "Tutorials" %}</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
            <li>
                <a href="{% translate "Django_tutorial" %}"
                   class="dropdown-item">{% translate "Django for GIS projects tutorial" %}</a>
            </li>
            <li>
                <a href="{% translate "LoRa_tutorial" %}"
                   class="dropdown-item">{% translate "LoRa, LoRaWan and MQTT" %}</a>
            </li>
        </ul>
            </li>
            <li class="nav-item">
                <!-- When using translate tags, a context can be added to translate in different ways the same word. Here
                 I needed to slugify the french translation of about, so I add an URL context to differentiate it from
                   the about title -->
                <a href="{% translate "About" context "url" %}"
                   class="nav-link">{% translate "About" %}</a>
            </li>
        </ul>
    </div>
    <!-- The language can be directly changed in the template by using the language tag. Then, just
    reference the name of the current template (set in urls.py) using the url tag and request.resolver_match.url_name
    to display the current page in the language selected by the user. For instance, if you are on the /en/home page,
    switching the language will translate the url to /fr/accueil and redirect the user on the same page he is on, but
    in French. There are other ways to manage this, but I found this one to be the simplest-->
    <div class="dropdown justify-content-end">
        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">{% trans "Language" %}</button>
        <ul class="dropdown-menu">
            <li>
                {% language 'fr' %}
                    <a href="{% url request.resolver_match.url_name %}" class="dropdown-item">Français</a>
                {% endlanguage %}
            </li>
            <li>
                {% language 'en' %}
                    <a href="{% url request.resolver_match.url_name %}" class="dropdown-item">English</a>
                {% endlanguage %}
            </li>
        </ul>
    </div>
</nav>

</header>

<body>

<!-- This is the first block tag that controls the render of the banner below the navbar. Since the head banner changes
depending on the section of the site the user is on, the tag is left empty to be filled in other templates.-->
{% block head %}
{% endblock %}

<!-- This is the block for the main contain of each template.-->
{%  block content %}
{%  endblock %}

<bouton onclick="topFunction()" id="ScrollTopBtn">&#8593;</bouton>

<!-- This is the block for the footer that is use to thank partner organizations or add details about each page -->
{% block footer %}
{% endblock %}

<!-- Javascript files (JQuery 3.5.1, Bootstrap 5.0.0). For performance reasons, it is better to have them at the
 bottom of the file instead of at the top -->
<script nonce="{{ NONCE }}" src="{%  static 'js/jquery.min.js' %}"></script>
<script nonce="{{ NONCE }}" src="{%  static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- Custom script that control the navbar. The nonce attribute is part of the CSP policy -->
<script nonce="{{ NONCE }}" src="{%  static 'js/nav.js' %}"></script>

<!-- Tag to allow the loading of other Javascript on other templates. -->
{% block custom_script %}
{% endblock %}

</body>
</html>